<section class="card res letra">
    <div class="card-body res">
        <h1>Nosotros</h1>
        <p>Somos una empresa destinada al desarrollo de software contable, contamos con el mejor programador para dar solucion a tus requesitos</p>
    </div>
</section>