<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quaerat accusamus nisi necessitatibus ratione laboriosam, veritatis maiores tenetur deserunt obcaecati.</p>
    </div>
</section>