<div class="jumbotron nt-4">
    <h1 class="display-4">Inventario de los animale sde la granja</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur 
        adipisicing elit. Nostrum animi vitae voluptates. Aperiam voluptas ab repudiandae quidem aliquid, quo enim!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores necessitatibus itaque voluptas quod eligendi explicabo perferendis 
        animi deleniti. Reprehenderit, ratione.</p>
    <a href="#" class="btn btn-primary">Granja</a>
</div>

