<div class="jumbotron nt-4">
    <h1 class="display-4">Inventario de los animales de la granja</h1>
    <p class="lead">Se lleva un registro y control de los animales que se han comprado y los gastos que requieren.</p>
    <hr class="my-4">
    <p>La contabilidad al momento de tener sus animales es muy importante, ya que asi, se sabe cuales son las ganancias o posibles perdidas en el lote de animales que se tienen...</p>
    <a href="#" class="btn btn-primary">Granja</a>
</div>

