<link rel="stylesheet" href="../css/login.css">
<div class="padre">
    <div id="container">
        <br>
        <h1>Cambiar Contrase単a</h1>
        <div id="login-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"></img>
        </div>
        <form action="/usuarios/cambiarPassword?_method=PUT" method="POST">
            <input type="hidden" name="_method" value="PUT">
            <div class="form-group">
                <input type="text" name="_id" value="{{_id}}" hidden>
            </div>
            <div class="form-group">
                <input type="password" name="contrasena" placeholder="contrase単a">
            </div>
            <div class="form-group">
                <input type="password" name="confirm_contrasena" placeholder="Confirmar contrase単a">
            </div>
            <br>
            <button>Cambiar contrase単a</button>
        </form>
    </div>
</div>
