<link rel="stylesheet" href="../css/login.css">
<div class="padre">
    <div id="container">
        <br>
        <h1>Verificar Correo</h1>
        <br>
        <div id="login-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"></img>
        </div>
        <form action="/usuarios/cambiarPassword" method="POST">
            <br>
            <div class="form-group">
                <input type="email" name="correo" placeholder="correo">
            </div>
            <br>
            <button>Confirmar Correo</button>
        </form>
    </div>
</div>