<link rel="stylesheet" href="../css/login.css">
<div class="padre">
    <div id="container">
        <h1>Login</h1>
        <div id="login-button">
            <img src="https://dqcgrsy5v35b9.cloudfront.net/cruiseplanner/assets/img/icons/login-w-icon.png"></img>
        </div>
        <form action="/usuarios/signin" method="POST">
            <div class="form-group">
                <input type="email" name="correo" placeholder="usuario">
            </div>
            <div class="form-group">
                <input type="password" name="contrasena" placeholder="contraseña">
            </div>
            <button>Iniciar sesion</button>


        </form>
        <div id="remember-container">

            <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked" />
            <span id="remember">Recordar</span>
            <a href="/usuarios/confirmar"><span id="forgotten">Cambiar contraseña</span></a>

        </div>
    </div>
</div>